form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    label {
      font-size: larger;
      margin: 5px;
    }
  }
  
  #width-pf-1 {
      width: 270px;
  }
    
  #width-pf-2 {
    width: 270px;
}
  
#width-pf-3 {
  width: 270px;
}

.pf-bottom-div {
  margin-bottom: 25px;
}
  