body {
    background-color: ghostwhite;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#header-nav {
    position: sticky;
    bottom: 0;
    width: 100vw;
    background-color: ghostwhite;
    height: 45px;
}

#closed-burger-menu-list {
    display: none;
  }

  